parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/ArchTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/ArchTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:fail\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Jobs/FinalizeTenantProvisioningTest.php

		-
			message: '#^Call to an undefined method Illuminate\\Testing\\TestResponse\:\:assertSeeLivewire\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/SettingsProfilePageTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: tests/Feature/Boot/NumerosisSeamTest.php

